@model ZendeskApi_v2.Models.Articles.ArticleSearchResults
@{
    #region Layout

    Layout = null;

    #endregion

    #region ViewBags

    var traducaoHelper = (Core.Helpers.TraducaoHelper)ViewBag.TraducaoHelper;

    #endregion

    #region Variaveis

    #endregion
}
<h3 style="margin:5px;float:left;">@traducaoHelper["RESULTADO"]</h3>
@if (Model.Count > 0)
{
    foreach (var result in Model.Results)
    {
        <div style="float:left;padding:20px;background:#ffffff;width:100%;margin:10px 0;">
            <h6 style="font-size:15px;font-weight:bold;float:left; width:100%;margin:0;">@result.Title</h6>
            <br />
            <p style="float:left;font-size:13px !important;">@Html.Raw(result.Body)</p>
            <hr />
        </div>
    }
}
else
{
    <div style="float:left;padding:20px;background:#ffffff;width:100%;margin:10px 0;">
        <h4 style="font-size:15px;font-weight:bold;float:left; width:100%;margin:0;">@traducaoHelper["A_PESQUISA_NAO_ENCONTROU_NENHUM_RESULTADO"]</h4>
    </div>
}