@charset "utf-8";

/* Carousel Inside Portlet With User or Product Image*/
/* We user the same structure in Profile page - but with larger picture */

/* ========================================================================
 * Bootstrap Tabs and Modifs
 * ======================================================================== */

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
   border-color: transparent;
}

.tab-content > .tab-pane {
   background: #fff;
   padding: 15px;
   border: 2px solid #ddd;
   border-top: 0;
}

.nav-tabs {
   font-weight: 700;
   text-transform: uppercase;
   border-bottom: 2px solid #ddd;
}

   .nav-tabs > li {
      float: left;
      margin-bottom: -2px;
   }

      .nav-tabs > li > a {
         margin-right: 2px;
         color: #555;
         border: 2px solid transparent;
         border-radius: 4px 4px 0 0;
      }

         .nav-tabs > li > a:hover {
            border-color: #ddd;
         }

      .nav-tabs > li.active > a,
      .nav-tabs > li.active > a:hover,
      .nav-tabs > li.active > a:focus {
         color: #555;
         cursor: default;
         background-color: #fff;
         border: 2px solid #ddd;
         border-bottom-color: transparent;
      }

   .nav-tabs > .active > a,
   .nav-tabs > .active > a:hover {
      outline: none;
   }

/*Colored Tabs*/
/*Nav-Tabs Grey*/



.tabs-grey .tab-content > .tab-pane,
.tabs-grey .nav-tabs > li > a:hover {
   background: #dee4e7;
   border-color: #dee4e7;
}

.tabs-grey .tab-content > .tab-pane {
   color: #555;
}

.tabs-grey .nav-tabs {
   border-color: #dee4e7;
}

   .tabs-grey .nav-tabs > li.active > a,
   .tabs-grey .nav-tabs > li.active > a:hover,
   .tabs-grey .nav-tabs > li.active > a:focus {
      color: #555;
      cursor: default;
      background-color: #dee4e7;
      border-color: #dee4e7;
   }

/*Nav-Tabs White*/



.tabs-white .tab-content > .tab-pane,
.tabs-white .nav-tabs > li > a:hover {
   background: #fff;
   border-color: #fff;
}

.tabs-white .tab-content > .tab-pane {
   color: #555;
}

.tabs-white .nav-tabs {
   border-color: #fff;
}

   .tabs-white .nav-tabs > li.active > a,
   .tabs-white .nav-tabs > li.active > a:hover,
   .tabs-white .nav-tabs > li.active > a:focus {
      color: #555;
      cursor: default;
      background-color: #fff;
      border-color: #fff;
   }

/*Nav-Tabs Green*/



.tabs-green .tab-content > .tab-pane,
.tabs-green .nav-tabs > li > a:hover {
   background: #82b964;
   color: #fff;
   border-color: #82b964;
}

.tabs-green .nav-tabs {
   border-color: #82b964;
}

   .tabs-green .nav-tabs > li.active > a,
   .tabs-green .nav-tabs > li.active > a:hover,
   .tabs-green .nav-tabs > li.active > a:focus {
      color: #fff;
      cursor: default;
      background-color: #82b964;
      border-color: #82b964;
   }

/* Сustom inclusion of right, left and below tabs. */



.tabbable .tab-content .tab-pane {
   border-top: 2px solid #ddd;
}

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
   border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
   display: none;
}

.tab-content > .active,
.pill-content > .active {
   display: block;
}

.tabs-below > .nav-tabs {
   border: 0;
}

   .tabs-below > .nav-tabs > li {
      margin-top: -2px;
      margin-bottom: 0;
   }

      .tabs-below > .nav-tabs > li > a {
         -webkit-border-radius: 0 0 4px 4px;
         -moz-border-radius: 0 0 4px 4px;
         border-radius: 0 0 4px 4px;
      }

         .tabs-below > .nav-tabs > li > a:hover,
         .tabs-below > .nav-tabs > li > a:focus {
            border-color: #ddd;
         }

   .tabs-below > .nav-tabs > .active > a,
   .tabs-below > .nav-tabs > .active > a:hover,
   .tabs-below > .nav-tabs > .active > a:focus {
      border-color: transparent #ddd #ddd #ddd;
   }

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
   float: none;
}

   .tabs-left > .nav-tabs > li > a,
   .tabs-right > .nav-tabs > li > a {
      min-width: 74px;
      margin-right: 0;
      margin-bottom: 3px;
   }

.tabs-left > .nav-tabs {
   float: left;
   border: 0;
}

   .tabs-left > .nav-tabs > li > a {
      margin-right: -2px;
      -webkit-border-radius: 4px 0 0 4px;
      -moz-border-radius: 4px 0 0 4px;
      border-radius: 4px 0 0 4px;
   }

      .tabs-left > .nav-tabs > li > a:hover,
      .tabs-left > .nav-tabs > li > a:focus {
         border-color: #ddd;
      }

   .tabs-left > .nav-tabs .active > a,
   .tabs-left > .nav-tabs .active > a:hover,
   .tabs-left > .nav-tabs .active > a:focus {
      border-color: #ddd transparent #ddd #ddd;
      *border-right-color: #fff;
   }

.tabs-right > .nav-tabs {
   float: right;
   border: 0;
}

   .tabs-right > .nav-tabs > li > a {
      margin-left: -2px;
      -webkit-border-radius: 0 4px 4px 0;
      -moz-border-radius: 0 4px 4px 0;
      border-radius: 0 4px 4px 0;
   }

      .tabs-right > .nav-tabs > li > a:hover,
      .tabs-right > .nav-tabs > li > a:focus {
         border-color: #ddd;
      }

   .tabs-right > .nav-tabs .active > a,
   .tabs-right > .nav-tabs .active > a:hover,
   .tabs-right > .nav-tabs .active > a:focus {
      border-color: #ddd #ddd #ddd transparent;
      *border-left-color: #fff;
   }

.tabs-right .tab-content .tab-pane,
.tabs-left .tab-content .tab-pane {
   overflow: hidden;
   min-height: 150px;
}

/* ========================================================================
 * Bootstrap Colors Override and Resets
 * ======================================================================== */



.table > thead > tr > td.primary,
.table > tbody > tr > td.primary,
.table > tfoot > tr > td.primary,
.table > thead > tr > th.primary,
.table > tbody > tr > th.primary,
.table > tfoot > tr > th.primary,
.table > thead > tr.primary > td,
.table > tbody > tr.primary > td,
.table > tfoot > tr.primary > td,
.table > thead > tr.primary > th,
.table > tbody > tr.primary > th,
.table > tfoot > tr.primary > th,
.bg-primary,
.list-group-item-primary {
   background-color: #dff3f9;
}

.alert-primary,
.progress-bar,
.panel-primary > .panel-heading {
   background-color: #3b8dbd;
   color: #fff;
}

.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th,
.bg-success,
a.list-group-item-success,
.list-group-item-success {
   background-color: #d9ead0;
   color: #82b964;
   font-weight: 700;
}

.has-success .input-group-addon,
.alert-success,
.progress-bar-success,
.panel-success > .panel-heading,
.label-success {
   background-color: #82b964;
   color: #fff;
}

.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th,
.list-group-item-info,
a.list-group-item-info,
.bg-info {
   background-color: #dff3f9;
   color: #5bc0de;
   font-weight: 700;
}

.alert-info,
.progress-bar-info,
.label-info,
.panel-info > .panel-heading {
   background-color: #5bc0de;
   color: #fff;
}

.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th,
.list-group-item-warning,
a.list-group-item-warning,
.bg-warning {
   background-color: #fff4e1;
   color: #fdc153;
   font-weight: 700;
}

.alert-warning,
.progress-bar-warning,
.panel-warning > .panel-heading {
   background-color: #f0ad4e;
   color: #fff;
}

.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th,
.bg-danger,
a.list-group-item-danger,
.list-group-item-danger {
   background-color: #f7e0db;
   color: #d24d33;
   font-weight: 700;
}

.alert-danger,
.progress-bar-danger,
.panel-danger > .panel-heading {
   background-color: #d24d33;
   color: #fff;
}

a.list-group-item-success:hover,
a.list-group-item-success:focus,
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr.success:hover > th {
   background-color: #82b964;
   color: #fff;
}

a.list-group-item-warning:hover,
a.list-group-item-warning:focus,
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr.warning:hover > th {
   background-color: #f0ad4e;
   color: #fff;
}

a.list-group-item-info:hover,
a.list-group-item-info:focus,
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr.info:hover > th {
   background-color: #5bc0de;
   color: #fff;
}

a.list-group-item-danger:hover,
a.list-group-item-danger:focus,
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr.danger:hover > th {
   background-color: #d24d33;
   color: #fff;
}

.text-primary,
.btn-link,
.btn-primary .badge,
.pagination > li > a,
.pagination > li > span {
   color: #c0c2c7;
}

.bg-primary,
.btn-primary,
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active,
.btn-primary .badge,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
.label-primary,
a.list-group-item.active > .badge,
.nav-pills > .active > a > .badge,
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active,
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
   background-color: #3b8dbd;
}

   .btn-primary:hover,
   .btn-primary:focus,
   .btn-primary:active,
   .btn-primary.active,
   .open .dropdown-toggle.btn-primary {
      background-color: #31759d;
   }

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
   background-color: #d3d4d6;
}

.btn-success,
.label-success,
.progress-bar-success,
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
   background-color: #82b964;
}

   .btn-success:hover,
   .btn-success:focus,
   .btn-success:active,
   .btn-success.active,
   .open .dropdown-toggle.btn-success {
      color: #fff;
      background-color: #6CA94B;
   }

.btn-warning,
.label-warning,
.progress-bar-warning,
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
   background-color: #f0ad4e;
}

.btn-info,
.label-info,
.progress-bar-info,
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
   background-color: #5bc0de;
}

.btn-danger,
.label-danger,
.progress-bar-danger,
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
   background-color: #d24d33;
}

   .btn-danger:hover,
   .btn-danger:focus,
   .btn-danger:active,
   .btn-danger.active,
   .open .dropdown-toggle.btn-danger {
      background-color: #bc4329;
   }

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
   border-color: #3b8dbd;
}


.tabContatos a:hover {
   text-decoration: none;
   background-color: transparent;
   border: 1px solid red;
}





.nav-tabs {
   border-bottom: 1px solid #dddddd;
}

   .nav-tabs > li {
      float: left;
      margin-bottom: -1px;
   }

      .nav-tabs > li > a {
         margin-right: 2px;
         line-height: 1.42857143;
         border: 1px solid transparent;
         border-radius: 4px 4px 0 0;
      }

         .nav-tabs > li > a:hover {
            border-color: #eeeeee #eeeeee #dddddd;
         }

      .nav-tabs > li.active > a,
      .nav-tabs > li.active > a:hover,
      .nav-tabs > li.active > a:focus {
         color: #555555;
         background-color: #ffffff;
         border: 1px solid #dddddd;
         border-bottom-color: transparent;
         cursor: default;
      }

   .nav-tabs.nav-justified {
      width: 100%;
      border-bottom: 0;
   }

      .nav-tabs.nav-justified > li {
         float: none;
      }

         .nav-tabs.nav-justified > li > a {
            text-align: center;
            margin-bottom: 5px;
         }

      .nav-tabs.nav-justified > .dropdown .dropdown-menu {
         top: auto;
         left: auto;
      }

@media (min-width: 768px) {
   .nav-tabs.nav-justified > li {
      display: table-cell;
      width: 1%;
   }

      .nav-tabs.nav-justified > li > a {
         margin-bottom: 0;
      }
}

.nav-tabs.nav-justified > li > a {
   margin-right: 0;
   border-radius: 4px;
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
   border: 1px solid #dddddd;
}

@media (min-width: 768px) {
   .nav-tabs.nav-justified > li > a {
      border-bottom: 1px solid #dddddd;
      border-radius: 4px 4px 0 0;
   }

   .nav-tabs.nav-justified > .active > a,
   .nav-tabs.nav-justified > .active > a:hover,
   .nav-tabs.nav-justified > .active > a:focus {
      border-bottom-color: #ffffff;
   }
}




.nav2 {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.nav2 > li {
  position: relative;
  display: block;
}
.nav2 > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav2 > li > a:hover,
.nav2 > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
.nav2 > li.disabled > a {
  color: #777777;
}
.nav2 > li.disabled > a:hover,
.nav2 > li.disabled > a:focus {
  color: #777777;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
.nav2 .open > a,
.nav2 .open > a:hover,
.nav2 .open > a:focus {
  background-color: #eeeeee;
  border-color: #337ab7;
}
.nav2 .nav2-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.nav2 > li > a > img {
  max-width: none;
}



.nav-tabs2 {
   border-bottom: 1px solid #dddddd;
}

   .nav-tabs2 > li {
      float: left;
      margin-bottom: -1px;
   }

      .nav-tabs2 > li > a {
         margin-right: 2px;
         line-height: 1.42857143;
         border: 1px solid transparent;
         border-radius: 4px 4px 0 0;
      }

         .nav-tabs2 > li > a:hover {
            border-color: #eeeeee #eeeeee #dddddd;
         }

      .nav-tabs2 > li.active > a,
      .nav-tabs2 > li.active > a:hover,
      .nav-tabs2 > li.active > a:focus {
         color: #555555;
         background-color: #ffffff;
         border: 1px solid #dddddd;
         border-bottom-color: transparent;
         cursor: default;
      }

   .nav-tabs2.nav-justified {
      width: 100%;
      border-bottom: 0;
   }

      .nav-tabs2.nav-justified > li {
         float: none;
      }

         .nav-tabs2.nav-justified > li > a {
            text-align: center;
            margin-bottom: 5px;
         }

      .nav-tabs2.nav-justified > .dropdown .dropdown-menu {
         top: auto;
         left: auto;
      }

@media (min-width: 768px) {
   .nav-tabs2.nav-justified > li {
      display: table-cell;
      width: 1%;
   }

      .nav-tabs2.nav-justified > li > a {
         margin-bottom: 0;
      }
}

.nav-tabs2.nav-justified > li > a {
   margin-right: 0;
   border-radius: 4px;
}

.nav-tabs2.nav-justified > .active > a,
.nav-tabs2.nav-justified > .active > a:hover,
.nav-tabs2.nav-justified > .active > a:focus {
   border: 1px solid #dddddd;
}

@media (min-width: 768px) {
   .nav-tabs2.nav-justified > li > a {
      border-bottom: 1px solid #dddddd;
      border-radius: 4px 4px 0 0;
   }

   .nav-tabs2.nav-justified > .active > a,
   .nav-tabs2.nav-justified > .active > a:hover,
   .nav-tabs2.nav-justified > .active > a:focus {
      border-bottom-color: #ffffff;
   }
}
