.login {
   background-color: #003c6a !important;
}

a.gridEdit {
   background: url(img/icon/gridEditar.png) no-repeat top left;
   display: inline-block;
   width: 18px;
   height: 16px;
   text-indent: -9999px; /* hides the link text */
}

a.gridDetail {
   background: url(img/icon/gridDetalhe.png) no-repeat top left;
   display: inline-block;
   width: 18px;
   height: 16px;
   text-indent: -9999px; /* hides the link text */
}

a.gridDelete {
   background: url(img/icon/gridRemover.png) no-repeat top left;
   display: inline-block;
   width: 18px;
   height: 16px;
   text-indent: -9999px; /* hides the link text */
}

a.gridChange {
   background: url(img/icon/gridChange.png) no-repeat top left;
   display: inline-block;
   width: 18px;
   height: 16px;
   text-indent: -9999px; /* hides the link text */
}

a.gridEmail {
   background: url(img/icon/emailblue.png) no-repeat top left;
   display: inline-block;
   width: 18px;
   height: 16px;
   text-indent: -9999px; /* hides the link text */
}

a.gridEnvelopeAberto {
    background: url(img/icon/gridEnvelopeAberto.png) no-repeat top left;
    display: inline-block;
    width: 18px;
    height: 16px;
    text-indent: -9999px; /* hides the link text */
}

a.gridEnvelopeFechado {
    background: url(img/icon/gridEnvelopeFechado.png) no-repeat top left;
    display: inline-block;
    width: 18px;
    height: 16px;
    text-indent: -9999px; /* hides the link text */
}

a.gridSenha {
   background: url(img/icon/gridAtualizar.png) no-repeat top left;
   display: inline-block;
   width: 18px;
   height: 16px;
   text-indent: -9999px; /* hides the link text */
}

a.gridTrocar {
   background: url(img/icon/gridUsuario.png) no-repeat top left;
   display: inline-block;
   width: 18px;
   height: 16px;
   text-indent: -9999px; /* hides the link text */
}

a.gridLock {
    background: url(img/icon/lock1.png) no-repeat top left;
    display: inline-block;
    width: 18px;
    height: 16px;
    text-indent: -9999px; /* hides the link text */
}


a.gridNew {
   background: url(img/icon/plus.png) no-repeat top left;
   display: inline-block;
   width: 32px;
   height: 32px;
   text-indent: -9999px; /* hides the link text */
}

a.gridPresente {
    background: url(img/icon/gridPresente.png) no-repeat top left;
    display: inline-block;
    width: 32px;
    height: 32px;
    text-indent: -9999px; /* hides the link text */
}

a.gridReload {
   background: url(img/icon/refresh.png) no-repeat top left;
   display: inline-block;
   width: 32px;
   height: 32px;
   text-indent: -9999px; /* hides the link text */
}

a.gridExcel {
   background: url(img/icon/Excel_32x32.png) no-repeat top left;
   display: inline-block;
   width: 32px;
   height: 32px;
   text-indent: -9999px; /* hides the link text */
}

a.Voltar {
   background: url(img/icon/arrow_left.png) no-repeat top left;
   display: inline-block;
   width: 32px;
   height: 32px;
   text-indent: -9999px; /* hides the link text */
}

a.Editar {
   background: url(img/icon/pencil_edit.png) no-repeat top left;
   display: inline-block;
   width: 32px;
   height: 32px;
   text-indent: -9999px; /* hides the link text */
}

.margem {
   margin-top: 10px;
   margin-right: 10px;
   margin-left: 10px;
   margin-bottom: 10px;
}

.tabContatos {
   margin: 0;
}

   .tabContatos > li.active > a,
   .tabContatos > li.active > a:hover,
   .tabContatos > li.active > a:focus {
      color: #fff !important;
      background-color: #555 !important;
      border: none !important;
      border-bottom: 2px solid #555 !important;
      font-weight: bold;
   }

#InformacoesPessoais .portlet {
   -webkit-border-radius: 0 4px 4px !important;
   -moz-border-radius: 0 4px 4px !important;
   -ms-border-radius: 0 4px 4px !important;
   -o-border-radius: 0 4px 4px !important;
   border-radius: 0 4px 4px !important;
}

#Dinheiro .portlet {
   -webkit-border-radius: 0 4px 4px !important;
   -moz-border-radius: 0 4px 4px !important;
   -ms-border-radius: 0 4px 4px !important;
   -o-border-radius: 0 4px 4px !important;
   border-radius: 0 4px 4px !important;
}

#Acumulado .portlet {
   -webkit-border-radius: 0 4px 4px !important;
   -moz-border-radius: 0 4px 4px !important;
   -ms-border-radius: 0 4px 4px !important;
   -o-border-radius: 0 4px 4px !important;
   border-radius: 0 4px 4px !important;
}

#Data .portlet {
   -webkit-border-radius: 0 4px 4px !important;
   -moz-border-radius: 0 4px 4px !important;
   -ms-border-radius: 0 4px 4px !important;
   -o-border-radius: 0 4px 4px !important;
   border-radius: 0 4px 4px !important;
}

.modal-footer {
   border: none;
}

.paddinB05 {
   padding-bottom: 5px !important;
}

.marginB05 {
   margin-bottom: 5px !important;
}

.marginL05 {
   margin-left: 5px !important;
}

.paddingT28 {
   padding-top: 28px;
}

.borderRed {
   border: 1px solid red;
}

.borderBlue {
   border: 1px solid blue;
}

.fontPlaceHolderIcon {
   font-family: Arial, FontAwesome !important;
}

.margem-0 {
   margin: 0 !important;
}

.padding-lateral-0 {
   padding-left: 0 !important;
   padding-right: 0 !important;
}

.margem-2 {
   margin: 2px !important;
}

.margem-5 {
   margin: 5px !important;
}

.padding-lateral-5 {
   padding-left: 5px !important;
   padding-right: 5px !important;
}

.margem-10 {
   margin: 10px !important;
}

.margem-20 {
   margin: 20px !important;
}

.padding-0 {
   padding: 0 !important;
}

.padding-top-0 {
   padding-top: 0 !important;
}

.padding-Botton-0 {
   padding-bottom: 0 !important;
}

.padding-Left-0 {
   padding-Left: 0 !important;
}

.padding-Right-0 {
   padding-right: 0 !important;
}

.padding-10 {
   padding: 10px !important;
}

.padding-top-10 {
   padding-top: 10px !important;
}

.padding-Botton-10 {
   padding-bottom: 10px !important;
}

.padding-Left-10 {
   padding-Left: 10px !important;
}

.padding-Right-10 {
   padding-right: 10px !important;
}

.padding-lateral-10 {
   padding-left: 10px !important;
   padding-right: 10px !important;
}

.padding-20 {
   padding: 20px !important;
}

.padding-top-20 {
   padding-top: 20px !important;
}

.padding-Botton-20 {
   padding-bottom: 20px !important;
}

.padding-Left-20 {
   padding-Left: 20px !important;
}

.padding-Right-20 {
   padding-right: 20px !important;
}

.padding-lateral-20 {
   padding-left: 20px !important;
   padding-right: 20px !important;
}

.pagination {
   margin: 0 !important;
}

.page-content {
   padding-top: 0 !important;
}

.table-toolbar {
   border-bottom: 1px solid #ddd;
   padding-bottom: 10px;
}

.border-gridFooter {
   border-top: 1px solid #ddd;
   padding-top: 10px;
   margin: 0 15px;
}

.menuHome {
   min-width: 140px;
}

a.atualizar {
   background-image: url(global/img/portlet-reload-icon-white.png);
   width: 13px;
}

a.ajuda {
    background-image: url(global/img/portlet-ajuda-icon.png);
    width: 16px;
}

.text-user {
   color: #ddd;
}

body a:hover {
   text-decoration: none;
}

.navbar-nav a:hover {
   background-color: transparent !important;
}

.bgCinzaClaro {
   background-color: #eee;
}

.tabBorder {
   border-bottom: 1px solid #ddd !important;
   border-left: 1px solid #ddd !important;
   border-right: 1px solid #ddd !important;
}

.tabPad {
   padding: 10px;
}

.portlet {
   border-radius: 4px !important;
}

.alturaendereco {
    min-height: 430px;
}

.custom-file-upload {
   border: 1px solid #ccc;
   display: inline-block;
   padding: 6px 12px;
   cursor: pointer;
}

.breadcrumb {
   padding: 0;
   margin: 0;
   color: #055a9b;
}


   .breadcrumb a {
      color: #055a9b;
   }


.page-title h2 {
   padding: 0;
   margin: 0;
}

.product-name {
   position: relative;
   margin-bottom: 0;
   padding-left: 70px;
}

.product-num {
   position: absolute;
   background: #33383d;
   font-size: 0.9em;
   padding: 7px;
   width: 31px;
   text-align: center;
   border-radius: 35px;
   color: #fff;
   font-weight: 700;
   top: 0;
   left: 15px;
}

.min {
   max-width: -moz-min-content;
   max-width: -webkit-min-content;
   max-width: min-content;
}

.max {
   max-width: -moz-max-content;
   max-width: -webkit-max-content;
   max-width: max-content;
}

.textoBranco {
   color: #fff !important;
}

.textoCinzaClaro {
   color: #ddd !important;
}

.custom-combobox {
   position: relative !important;
   display: inline-block !important;
}

.custom-combobox-toggle {
   position: absolute !important;
   top: 0 !important;
   bottom: 0 !important;
   margin-left: -1px !important;
   padding: 0 !important;
}

.custom-combobox-input {
   margin: 0 !important;
   padding: 5px 10px !important;
}

@media (max-width: 767px) {
   .text-user {
      color: #333;
   }
}

.login .content {
  background-color: rgba(255, 255, 255, 0.65);
  width: 360px;
  margin: 0 auto;
  margin-bottom: 0px;
  padding: 30px;
  padding-top: 20px;
  padding-bottom: 15px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
}

.login .content .form-actions {
  background-color: rgba(255, 255, 255, 0);
  clear: both;
  border: 0px;
  border-bottom: 1px solid #eee;
  padding: 0px 30px 25px 30px;
  margin-left: -30px;
  margin-right: -30px;
}

.login .copyright {
   color: #555;
   font-weight: bold;
}

.table thead tr th {
    font-size: 12px !important;
}

.table td, .table th {
    font-size: 12px !important;
}

.form-group.form-md-line-input .form-control.edited:not([readonly]):focus ~ .help-block-info {
    opacity: 0!important;
    filter: alpha(opacity=0)!important;
}

.form-group.form-md-line-input .form-control.edited:not([readonly]):not(:focus) ~ .help-block-info {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
    }

.form-group.form-md-line-input .form-control.edited:not([readonly]) ~ .help-block-info, .form-group.form-md-line-input .form-control:focus:not([readonly]) ~ .help-block-info {
    color: #36c6d3;
    opacity: 0;
    filter: alpha(opacity=0);
}

.form-group.form-md-line-input .help-block-info {
    position: absolute;
    margin: 2px 0 0 0;
    opacity: 0;
    filter: alpha(opacity=0);
    font-size: 13px;
}

.help-block-info {
    margin-top: 5px;
    margin-bottom: 5px;
}

.tree {
    display: table;
    text-align: center;
    /*max-width: 850px;*/
}

    .tree ul {
        padding: 20px 0 0 0;
        position: relative;
    }

    .tree li {
        float: left;
        text-align: center;
        list-style-type: none;
        position: relative;
        padding: 20px 1px 0 1px;
    }

        .tree li::before, .tree li::after {
            content: '';
            position: absolute;
            top: 0;
            right: 50%;
            border-top: 2px solid #ccc;
            width: 50%;
            height: 20px;
            /*z-index: -1;*/
        }

        .tree li::after {
            right: auto;
            left: 50%;
            border-left: 2px solid #ccc;
            /*z-index: -1;*/
        }

        .tree li:only-child::after, .tree li:only-child::before {
            display: none;
        }

        .tree li:only-child {
            padding-top: 0;
        }

        .tree li:first-child::before, .tree li:last-child::after {
            border: 0 none;
        }

        .tree li:last-child::before {
            border-right: 2px solid #ccc;
            border-radius: 0 5px 0 0;
            -webkit-border-radius: 0 5px 0 0;
            -moz-border-radius: 0 5px 0 0;
            /*z-index: -1;*/
        }

        .tree li:first-child::after {
            border-radius: 5px 0 0 0;
            -webkit-border-radius: 5px 0 0 0;
            -moz-border-radius: 5px 0 0 0;
        }

    .tree ul ul::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        border-left: 2px solid #ccc;
        width: 0;
        height: 20px;
        /*z-index: -1;*/
    }

    .tree li div {
        background-image: url('img/AtivaBox/icoNivel2.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 70px;
        height: 70px;
        /* border: 2px solid gray;*/
        border-radius: 50% !important;
        /* padding: 0px 10px; */
        display: inline-block;
        position: relative;
    }

        .tree li div#primeiroNivel {
            background-image: url('img/AtivaBox/icoPrimeiroNivel2.png');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 100px;
            height: 100px;
            border-radius: 50% !important;
            margin: 0px -15px;
        }

        .tree li div:hover, .tree li div:hover + ul li div {
            /*background-color: #C8E4F8;*/
            /*border-radius: 50%;*/
            background-color: rgb(255, 80, 0);
        }

        .tree li div:hover + ul li::after,
        .tree li div:hover + ul li::before,
        .tree li div:hover + ul::before,
        .tree li div:hover + ul ul::before {
            border-color: #ff7b00;
            /*z-index: -1;*/
        }

.tooltips {
    visibility: hidden;
    width: 270px;
    height: 90px;
    background-color: lightgray;
    /*color: rgb(110, 65, 178);*/
    border-radius: 12px 12px 12px 0px !important;
    -webkit-border-radius: 12px 12px 12px 0px !important;
    -moz-border-radius: 12px 12px 12px 0px !important;
    padding: 5px 0;
    border: 2px solid rgb(110, 65, 178);
    font-family: Arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    z-index: 1;
    left: 50px;
    bottom: 50px;
}

.tree li div#primeiroNivel .tooltips {
    top: -30px;
    left: 60px;
}

.tree li div:hover .tooltips {
    visibility: visible;
}

.userprimeironivel {
    width: 100px;
    height: 100px;
    border: 2px solid rgb(0 255 0);
    border-radius: 50% !important;
}

.userseguintes {
    width: 70px;
    height: 70px;
    /*border: 2px solid rgb(110, 65, 178); */
    border-radius: 50% !important;
}

.sizetxtuser {
    font-size: 12px;
}

.lojadiv {
    padding: 10px;
    margin-top: 25px;
    background-color: #ffffff;
    -webkit-box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.31);
    -moz-box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.31);
    box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.31);
}

.imagemProdutoLoja {
    width: 100%;
    height: 110px;

}

.divMaskProdutoLoja {
    height: 2.5em;
    overflow: hidden;
    margin-bottom: 1px;
}

.tituloProdutoLoja {
    font-size: 13px;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    display: block;

}

.descricaoProdutoLoja {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    font-size: 10px;
}

.botaoComposicaoLoja {
}

.precoProdutoLoja {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: #157c01;
    line-height: 2.5em;
}

.grupoBotoes {
    height: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    vertical-align: middle;
}

.col-md-6.col-sm-6.col-xs-6.colunaPrecoLoja {
    padding: 0px;
}

.divComposicaoLoja {
    height: 22px;
}

@media screen and (min-width: 2001px) {
    .divImagemProdutoLoja {
        width: 200px;
        background-size: cover;
        height: 200px;
        background-position: center;
        margin-bottom: 10px;
        margin-left: 7px;
    }
}

@media screen and (min-width: 1281px) and (max-width: 2000px) {
    .divImagemProdutoLoja {
        width: 200px;
        background-size: cover;
        height: 200px;
        background-position: center;
        margin-bottom: 10px;
        margin-left: 7px;
    }
}

@media screen and (max-width: 1280px) {

    .divImagemProdutoLoja {
        width: 200px;
        background-size: cover;
        height: 200px;
        background-position: center;
        margin-bottom: 10px;
    }
}


.cardsLoja {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.indisponivel {
    font-size: 15px;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    display: block;
    color: gray;
}

.mt-element-ribbon .ribbon.ribbon-right {
    margin: -10px -10px 0 0 !important;
}

.mt-element-ribbon .ribbon.ribbon-color-card {
    background-color: lightgray;
    color: #000;
}

.mt-element-ribbon .ribbon {
    padding: .5em 1em;
    z-index: 5;
    float: none;
    margin: 0px 0 50px -2px;
    clear: left;
    position: relative;
    background-color: #bac3d0;
    color: #384353;
}

.unilevel-scroll {
    display: inline;
    width: 100%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: auto;
    -ms-overflow-style: scrollbar;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.ribbon-texto {
    font-size: 11px !important;
}

.logo-default {
    max-width: 200px;
    max-height: 50px;
}

.img-bg {
    width: 60px;
    margin-top: 4px;
    position: absolute;
    font-size: 60px;
    margin-left: 8px;
    opacity: 0.9;
}

@media (max-width: 767px) {
    .page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle {
        font-size: 12px;
    }
}

.campofiltro {
    height: 30px;
    font-size: 11px;
}
