/* required LIB STYLES */
/* .Treant se automatski dodaje na svaki chart conatiner */
.Treant { position: relative; overflow: hidden; padding: 0 !important; }
.Treant > .node,
.Treant > .pseudo { position: absolute; display: block; visibility: hidden; }
.Treant.Treant-loaded .node,
.Treant.Treant-loaded .pseudo { visibility: visible; }
.Treant > .pseudo { width: 0; height: 0; border: none; padding: 0; }

.Treant .collapse-switch { width: 12px; height: 12px; display: block; border: 1px solid black;  border-radius: 3px; position: absolute; top: 2px; right: 2px; background-image: url(img/less.jpg);}
.Treant .collapsed .collapse-switch { background-color: #868DEE;  background-image: url(img/plus.jpg); }

.Treant > .node img {	border: none; float: left; width:60px; height:75px; }