.theme-font-color {
    color: #f99b1b;
}

/***********
Body bg color
***********/
body {
    font-family: "Roboto", sans-serif;
    background: #bbbdc0;
}

    body.page-md {
        background: #f3f5f9;
    }

.bgCadastro {
    background: #bbbdc0 !important; /*mcr*/
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Muli",sans-serif;
    font-weight: 300;
}

a {
    text-shadow: none;
    color: #f9861b;
}

.login {
    background: none!important;
}

.login .content .form-actions .btn {
    margin-top: 1px;
}

.login .content {
    border-radius: 7px !important;
}

.login .logo img {
    width:400px;
}

.btn:not(.btn-sm):not(.btn-lg) {
    line-height: 1.44;
}

.btn {
    outline: none !important;
    box-shadow: none !important;
}

.pull-right {
    float: right !important;
}

.btn-login {
    min-width: 300px;
    border-radius: 20px !important;
    color: #FFF;
    background-color: #f99b1b !important;
    border-color: #555 !important;
}

.btn-login.focus, .btn-login:focus, .btn-login:hover {
    color: #fcf7f7aa;
    text-decoration: none;
}

.btn-intern {
    border-radius: 20px !important;
    color: #FFF;
    background-color: #f99b1b !important;
    border-color: #6e41b2 !important;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

.btn-info {
    border-radius: 20px !important;
    color: #fff;
    background-color: #f99b1b;
    border-color: #6e41b2 !important;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

.btn-success {
    border-radius: 20px !important;
    color: #fff;
    background-color: #f99b1b;
    border-color: #6e41b2;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

.btn-compra {
    border-radius: 20px !important;
    color: #fff;
    background-color: #0fd200;
    border-color: #0fd200;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

.btn-intern.focus, .btn-intern:focus, .btn-intern:hover {
    color: #fcf7f7aa;
    text-decoration: none;
}

    canvas {
    display: block;
    vertical-align: bottom;
}
/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg,#333 0,#333 100%) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
/* ---- stats.js ---- */

.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats, .count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}

/*********** 
Page Header
***********/
/* Header search bar, toggler button & top menu */
.page-header.navbar {
    background: #FFFFFF;
    border-bottom: 1px solid #e9ecf3;
    /* Top notification menu/bar */
    /* Header seaech box */
    /* Menu Toggler */
}

    .page-header.navbar .top-menu .navbar-nav {
        /* Extended Dropdowns */
        /* Notification */
        /* Inbox */
        /* Tasks */
        /* User */
        /* Language */
        /* Dark version */
    }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle:hover {
            background-color: #f9fafc;
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle > i {
            color: #C0CDDC;
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle .badge.badge-default {
            background-color: #f99b1b;
            color: #ffffff;
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown.open .dropdown-toggle {
            background-color: #f9fafc;
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-menu:before {
            border-bottom-color: #dce1ec;
        }

        .page-header.navbar .top-menu .navbar-nav > li.separator {
            background: #e9ecef;
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu {
            border: 1px solid #dce1ec;
        }

            .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu:before {
                border-bottom-color: #cbd2e3;
            }

            .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu:after {
                border-bottom-color: #e3e6f0;
            }

            .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external {
                background: #e3e6f0;
            }

                .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > h3 {
                    color: #62878f;
                }

                .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > a {
                    color: #f99b1b;
                }

                    .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > a:hover {
                        color: #3175af;
                        text-decoration: none;
                    }

            .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a {
                border-bottom: 1px solid #EFF2F6 !important;
                color: #888888;
            }

                .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a:hover {
                    background: #f8f9fa;
                }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li > a .time {
            background: #f1f1f1;
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li > a:hover .time {
            background: #e4e4e4;
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox > .dropdown-toggle > .circle {
            background-color: #f99b1b;
            color: #ffffff;
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox > .dropdown-toggle > .corner {
            border-color: transparent transparent transparent #f99b1b;
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox .dropdown-menu .dropdown-menu-list .subject .from {
            color: #f99b1b;
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown-tasks .dropdown-menu .dropdown-menu-list .progress {
            background-color: #dfe2e9;
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username {
            color: #7FB0DA;
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > i {
            color: #7FB0DA;
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-menu {
            width: 195px;
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown-language > .dropdown-toggle > .langname {
            color: #7FB0DA;
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu {
            background: #f9f9f9;
            border: 0;
        }

            .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu:after {
                border-bottom-color: #536470;
            }

            .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu > li.external {
                background: #f99b1b;
            }

                .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu > li.external > h3 {
                    color: #ffffff;
                }

                .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu > li.external > a:hover {
                    color: #87b6dd;
                }

            .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a,
            .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu .dropdown-menu-list > li a {
                color: #6c6e70;
                border-bottom: 1px solid #eeeeee !important;
            }

                .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a > i,
                .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu .dropdown-menu-list > li a > i {
                    color: #b6c2c9;
                }

                .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a:hover,
                .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu .dropdown-menu-list > li a:hover {
                    background: #5b6f7c;
                }

            .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a {
                border-bottom: 0 !important;
            }

            .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li.divider {
                background: #607482;
            }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown-notification.dropdown-dark .dropdown-menu .dropdown-menu-list > li > a .time {
            background: #dadada;
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown-notification.dropdown-dark .dropdown-menu .dropdown-menu-list > li > a:hover .time {
            background: #3d4a53;
        }

    .page-header.navbar .search-form {
        background: #FFFFFF;
    }

        .page-header.navbar .search-form .input-group {
            border: 1px solid #ced6de;
        }

            .page-header.navbar .search-form .input-group:hover {
                border-color: #bfcad4;
            }

            .page-header.navbar .search-form .input-group .form-control {
                color: #ced6de;
            }

                .page-header.navbar .search-form .input-group .form-control::-moz-placeholder {
                    color: #cbd4dc;
                    opacity: 1;
                }

                .page-header.navbar .search-form .input-group .form-control:-ms-input-placeholder {
                    color: #cbd4dc;
                }

                .page-header.navbar .search-form .input-group .form-control::-webkit-input-placeholder {
                    color: #cbd4dc;
                }

            .page-header.navbar .search-form .input-group .input-group-btn .btn.submit > i {
                color: #ced6de;
            }

    .page-header.navbar .menu-toggler {
        background-image: url(../../../global/img/sidebar-toggle-dark.png);
    }

    .page-header.navbar .page-actions .btn-group .btn-sm.btn-transparent {
        background: none;
        border: 1px solid white;
        color: white;
    }

        .page-header.navbar .page-actions .btn-group .btn-sm.btn-transparent > i {
            color: white;
        }

        .page-header.navbar .page-actions .btn-group .btn-sm.btn-transparent:hover, .page-header.navbar .page-actions .btn-group .btn-sm.btn-transparent:focus, .page-header.navbar .page-actions .btn-group .btn-sm.btn-transparent.active {
            background: none;
            border: 1px solid white;
            color: white;
        }

            .page-header.navbar .page-actions .btn-group .btn-sm.btn-transparent:hover > i, .page-header.navbar .page-actions .btn-group .btn-sm.btn-transparent:focus > i, .page-header.navbar .page-actions .btn-group .btn-sm.btn-transparent.active > i {
                color: white;
            }



.form-group.form-md-line-input .form-control.edited:not([readonly]) ~ label:after, .form-group.form-md-line-input .form-control.edited:not([readonly]) ~ .form-control-focus:after, .form-group.form-md-line-input .form-control:focus:not([readonly]) ~ label:after, .form-group.form-md-line-input .form-control:focus:not([readonly]) ~ .form-control-focus:after {
    visibility: visible;
    left: 0;
    width: 100%;
    background: #f99b1b;
}

.md-radio label > .check {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background: #f99b1b;
    opacity: 0;
    z-index: 6;
    border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
}

.tab-lista-dados {
    color: #6c6e70 !important;
}

.nav-tabs > li > a.tab-lista-dados:hover {
    border-color: transparent transparent #ddd;
}

.nav > li > a.tab-lista-dados:focus, .nav > li > a.tab-lista-dados:hover {
    text-decoration: none;
    background-color: #2b3c53;
}

.form-group.form-md-line-input.has-info .form-control {
    border-bottom: 1px solid #f99b1b!important;
}

.form-group.form-md-line-input.has-info:focus .form-control:focus {
    border-bottom: 1px solid #f99b1b !important;
}

.form-group.form-md-line-input .form-control {
    background: none;
    border: 0;
    border-bottom: 1px solid #f99b1b;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    color: #555;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
}

.form-group.form-md-line-input.has-info label {
    color: #555;
}

.logo-cadastro {
    width: 150px;
}

#TokenText, #TokenDesabilitarText {
    width: 100% ;
}

/* Page sidebar */
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover,
.page-sidebar {
    background-color: #ffffff;
    /* Default sidebar */
}

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu,
    .page-sidebar .page-sidebar-menu {
        /* 1st level links */
        /* All links */
    }

        .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.heading > h3,
        .page-sidebar .page-sidebar-menu > li.heading > h3 {
            color: #6c6e70;
        }

        .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a,
        .page-sidebar .page-sidebar-menu > li > a {
            color: #6c6e70;
        }

    .page-sidebar.navbar-collapse {
        border-radius: 5px !important;
    }

@media (max-width: 991px) {
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a,
    .page-sidebar .page-sidebar-menu > li > a {
        /* 991px */
        border-top: 1px solid white;
    }
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i,
.page-sidebar .page-sidebar-menu > li > a > i {
    color: #f99b1b;
}

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i[class^="icon-"],
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i[class*="icon-"],
    .page-sidebar .page-sidebar-menu > li > a > i[class^="icon-"],
    .page-sidebar .page-sidebar-menu > li > a > i[class*="icon-"] {
        color: #a7bdcd;
    }

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu > li > a > .arrow:before,
.page-sidebar .page-sidebar-menu > li > a > .arrow.open:before {
    color: #f99b1b;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a,
.page-sidebar .page-sidebar-menu > li:hover > a,
.page-sidebar .page-sidebar-menu > li.open > a {
    background: #eeeeee;
    color: #f99b1b;
}

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > i,
    .page-sidebar .page-sidebar-menu > li:hover > a > i,
    .page-sidebar .page-sidebar-menu > li.open > a > i {
        color: #f99b1b;
    }

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > .arrow.open:before,
    .page-sidebar .page-sidebar-menu > li:hover > a > .arrow:before,
    .page-sidebar .page-sidebar-menu > li:hover > a > .arrow.open:before,
    .page-sidebar .page-sidebar-menu > li.open > a > .arrow:before,
    .page-sidebar .page-sidebar-menu > li.open > a > .arrow.open:before {
        color: #f99b1b;
    }

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a,
.page-sidebar .page-sidebar-menu > li.active > a,
.page-sidebar .page-sidebar-menu > li.active.open > a {
    background: #f2f6f9;
    color: #f99b1b;
}

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a:hover, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a:hover,
    .page-sidebar .page-sidebar-menu > li.active > a:hover,
    .page-sidebar .page-sidebar-menu > li.active.open > a:hover {
        background: #f2f6f9;
    }

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > i,
    .page-sidebar .page-sidebar-menu > li.active > a > i,
    .page-sidebar .page-sidebar-menu > li.active.open > a > i {
        color: #f99b1b;
    }

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > .arrow.open:before,
    .page-sidebar .page-sidebar-menu > li.active > a > .arrow:before,
    .page-sidebar .page-sidebar-menu > li.active > a > .arrow.open:before,
    .page-sidebar .page-sidebar-menu > li.active.open > a > .arrow:before,
    .page-sidebar .page-sidebar-menu > li.active.open > a > .arrow.open:before {
        color: #67a2d4;
    }

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a,
.page-sidebar .page-sidebar-menu > li.active > a {
    border-left: 3px solid #5C9ACF !important;
    margin-left: -3px;
    padding-left: 15px;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu li > a > .arrow:before,
.page-sidebar .page-sidebar-menu li > a > .arrow.open:before {
    color: #f99b1b;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu li:hover > a > .arrow:before,
.page-sidebar .page-sidebar-menu li:hover > a > .arrow.open:before {
    color: #f99b1b;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li.active > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li.active > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu li.active > a > .arrow:before,
.page-sidebar .page-sidebar-menu li.active > a > .arrow.open:before {
    color: #f99b1b;
}

.page-sidebar-closed .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu:hover .sub-menu, .page-sidebar-closed
.page-sidebar .page-sidebar-menu:hover .sub-menu {
    background: #FFFFFF;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a,
.page-sidebar .page-sidebar-menu .sub-menu > li > a {
    color: #485a6a;
}

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > i,
    .page-sidebar .page-sidebar-menu .sub-menu > li > a > i {
        color: #f99b1b;
    }

        .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > i[class^="icon-"],
        .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > i[class*="icon-"],
        .page-sidebar .page-sidebar-menu .sub-menu > li > a > i[class^="icon-"],
        .page-sidebar .page-sidebar-menu .sub-menu > li > a > i[class*="icon-"] {
            color: #a7bdcd;
        }

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > .arrow.open:before,
    .page-sidebar .page-sidebar-menu .sub-menu > li > a > .arrow:before,
    .page-sidebar .page-sidebar-menu .sub-menu > li > a > .arrow.open:before {
        color: #a0b8c9;
    }

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a,
.page-sidebar .page-sidebar-menu .sub-menu > li:hover > a,
.page-sidebar .page-sidebar-menu .sub-menu > li.open > a,
.page-sidebar .page-sidebar-menu .sub-menu > li.active > a {
    color: #f99b1b;
    background: #eeeeee !important;
}

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > i,
    .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > i,
    .page-sidebar .page-sidebar-menu .sub-menu > li.open > a > i,
    .page-sidebar .page-sidebar-menu .sub-menu > li.active > a > i {
        color: #f99b1b;
    }

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > .arrow.open:before,
    .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > .arrow:before,
    .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > .arrow.open:before,
    .page-sidebar .page-sidebar-menu .sub-menu > li.open > a > .arrow:before,
    .page-sidebar .page-sidebar-menu .sub-menu > li.open > a > .arrow.open:before,
    .page-sidebar .page-sidebar-menu .sub-menu > li.active > a > .arrow:before,
    .page-sidebar .page-sidebar-menu .sub-menu > li.active > a > .arrow.open:before {
        color: #67a2d4;
    }

.page-header.navbar .page-logo .logo-default {
    margin: 10px 10px 10px 60px;
}

@media (min-width: 0px) and (max-width: 767px){
    /* 767px */
    .page-top {
        display: none !important;
        background-color: red !important;
    }
}