@{

   #region Layout

   Layout = "~/Views/Shared/_Cadastro.cshtml";

   #endregion

   #region ViewBags

   var traducaoHelper = (Core.Helpers.TraducaoHelper)ViewBag.TraducaoHelper;
   ViewBag.Title = traducaoHelper["INDEX"].ToString().ToLower();

   #endregion

   #region Variaveis

   #endregion
   
}

<div class="box" style="background:#ffffff !important;">
   <h1 class="cor">@ViewBag.Title</h1>
   <p><h2>@ViewBag.Codigo</h2></p>
   <p><h2>@ViewBag.Pedido</h2></p>
   <p><h2>@ViewBag.Motivo</h2></p>
</div>



