<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <connectionStrings>
	<!--NÃO USAR usDesenv-->
	
	<!--Local BULL-->
	<!--<add name="DefaultConnection" connectionString="Data Source=zosma,1433;Initial Catalog=bull;persist security info=True;user id=usMetta;password=Minerva2@22;" providerName="System.Data.SqlClient" />
    <add name="YLEVELEntities" connectionString="metadata=res://*/Entities.YLevelEntities.csdl|res://*/Entities.YLevelEntities.ssdl|res://*/Entities.YLevelEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=zosma,1433;Initial Catalog=bull;user id=usMetta;password=Minerva2@22;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

	<!--SQLDEV BULL
	<add name="DefaultConnection" connectionString="Data Source=10.0.2.4,1433;Initial Catalog=MettaBull_Dev;persist security info=True;user id=usMettaBullDev;password=Breaking2@22News;" providerName="System.Data.SqlClient" />
	<add name="YLEVELEntities" connectionString="metadata=res://*/Entities.YLevelEntities.csdl|res://*/Entities.YLevelEntities.ssdl|res://*/Entities.YLevelEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.2.4,1433;Initial Catalog=MettaBull_Dev;user id=usMettaBullDev;password=Breaking2@22News;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->

    <!--SQLPROD BULL -->
    <add name="DefaultConnection" connectionString="Data Source=database-metta.cp5h0mezlaqr.us-east-1.rds.amazonaws.com,1433;Initial Catalog=MettaBull;persist security info=True;user id=usMettaBull;password=PO17tW5NGEFUsAWYtVEi;" providerName="System.Data.SqlClient"/>
    <add name="YLEVELEntities" connectionString="metadata=res://*/Entities.YLevelEntities.csdl|res://*/Entities.YLevelEntities.ssdl|res://*/Entities.YLevelEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=database-metta.cp5h0mezlaqr.us-east-1.rds.amazonaws.com,1433;Initial Catalog=MettaBull;user id=usMettaBull;password=PO17tW5NGEFUsAWYtVEi;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>

  </connectionStrings>
  <appSettings>
    <add key="usdt" value="058103045070126061072126031049056084006030033071047123029121021068012076019047057019003015081104115003034003038029008030012061003071053069036003048124027000112026071012"/>
    <add key="btc" value="005024042071035044085115029069007049038120006034020061063093023095046000104038021037049031003123003069008002005036120027020024046000055091041003011031034000044003081087040049038050007126125038"/>
    <add key="ltc" value="048113052028036037045105046066046011006063103041031033029083054040064052057041103059043019008114044058089051006058025067045013030003013095086006037027028071009001072101009042039001050062005006"/>
    <add key="btccli" value=""/>
    <add key="ltccli" value=""/>
    <add key="usdtcli" value=""/>
    <add key="exibeConsole" value="true"/>
  </appSettings>
	<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
