/*--------------------------------------------------
    [TRANSITION]
----------------------------------------------------*/
/* Cubic Bezier Transition */
/*--------------------------------------------------
    [RGBA Opacity]
----------------------------------------------------*/
/***********
Theme Colors
***********/
.theme-font-color {
   color: #5b9bd1;
}

/***********
Body bg color
***********/
html {
   background: #eee !important;
}

body {
   background: #eee !important;
}

   body.page-md {
      background: #f3f5f9;
   }

a {
   outline: none !important;
}

a:hover {
   outline: none !important;
}

/*menu usuario*/

.text-user {
   color: #ddd;
}

.text-user a {
   text-decoration: none;
   color: #ddd !important;

}

.text-user a:hover {
   text-decoration: none;
   color: #ccc !important;
}

/*********** 
Page Header
***********/



/* Header search bar, toggler button & top menu */
.page-header.navbar {
   background: #4e5c6f; /*mcr*/
   border-bottom: 1px solid #e9ecf3;
   /* Top notification menu/bar */
   /* Header seaech box */
   /* Menu Toggler */
}

   .page-header.navbar .top-menu .navbar-nav {
      /* Extended Dropdowns */
      /* Notification */
      /* Inbox */
      /* Tasks */
      /* User */
      /* Language */
      /* Dark version */
   }

      .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle:hover {
         background-color: #f3f5f9;
      }

      .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle > i {
         color: #C0CDDC;
      }

      .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle .badge.badge-default {
         background-color: #f3f5f9;
         color: #ffffff;
      }

      .page-header.navbar .top-menu .navbar-nav > li.dropdown.open .dropdown-toggle {
         background-color: #f3f5f9;
      }

      .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-menu:before {
         border-bottom-color: #dce1ec;
      }

      .page-header.navbar .top-menu .navbar-nav > li.separator {
         background: #e9ecef;
      }

      .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu {
         border: 1px solid #dce1ec;
      }

         .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu:before {
            border-bottom-color: #cbd2e3;
         }

         .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu:after {
            border-bottom-color: #e3e6f0;
         }

         .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external {
            background: #e3e6f0;
         }

            .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > h3 {
               color: #62878f;
            }

            .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > a {
               color: #5b9bd1;
            }

               .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > a:hover {
                  color: #3175af;
                  text-decoration: none;
               }

         .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a {
            border-bottom: 1px solid #EFF2F6 !important;
            color: #888888;
         }

            .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a:hover {
               background: #f8f9fa;
            }

      .page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li > a .time {
         background: #f1f1f1;
      }

      .page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li > a:hover .time {
         background: #e4e4e4;
      }

      .page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox > .dropdown-toggle > .circle {
         background-color: #5b9bd1;
         color: #ffffff;
      }

      .page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox > .dropdown-toggle > .corner {
         border-color: transparent transparent transparent #5b9bd1;
      }

      .page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox .dropdown-menu .dropdown-menu-list .subject .from {
         color: #5b9bd1;
      }

      .page-header.navbar .top-menu .navbar-nav > li.dropdown-tasks .dropdown-menu .dropdown-menu-list .progress {
         background-color: #dfe2e9;
      }

      .page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username {
         color: #7FB0DA;
      }

      .page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > i {
         color: #7FB0DA;
      }

      .page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-menu {
         width: 195px;
      }

      .page-header.navbar .top-menu .navbar-nav > li.dropdown-language > .dropdown-toggle > .langname {
         color: #7FB0DA;
      }

      .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu {
         background: #536470;
         border: 0;
      }

         .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu:after {
            border-bottom-color: #536470;
         }

         .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu > li.external {
            background: #414f59;
         }

            .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu > li.external > h3 {
               color: #c5ced4;
            }

            .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu > li.external > a:hover {
               color: #87b6dd;
            }

         .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a,
         .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu .dropdown-menu-list > li a {
            color: #d4dadf;
            border-bottom: 1px solid #607482 !important;
         }

            .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a > i,
            .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu .dropdown-menu-list > li a > i {
               color: #b6c2c9;
            }

            .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a:hover,
            .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu .dropdown-menu-list > li a:hover {
               background: #5b6f7c;
            }

         .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a {
            border-bottom: 0 !important;
         }

         .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li.divider {
            background: #607482;
         }

      .page-header.navbar .top-menu .navbar-nav > li.dropdown-notification.dropdown-dark .dropdown-menu .dropdown-menu-list > li > a .time {
         background: #485762;
      }

      .page-header.navbar .top-menu .navbar-nav > li.dropdown-notification.dropdown-dark .dropdown-menu .dropdown-menu-list > li > a:hover .time {
         background: #3d4a53;
      }

   .page-header.navbar .search-form {
      background: #FFFFFF;
   }

      .page-header.navbar .search-form .input-group {
         border: 1px solid #ced6de;
      }

         .page-header.navbar .search-form .input-group:hover {
            border-color: #bfcad4;
         }

         .page-header.navbar .search-form .input-group .form-control {
            color: #ced6de;
         }

            .page-header.navbar .search-form .input-group .form-control::-moz-placeholder {
               color: #cbd4dc;
               opacity: 1;
            }

            .page-header.navbar .search-form .input-group .form-control:-ms-input-placeholder {
               color: #cbd4dc;
            }

            .page-header.navbar .search-form .input-group .form-control::-webkit-input-placeholder {
               color: #cbd4dc;
            }

         .page-header.navbar .search-form .input-group .input-group-btn .btn.submit > i {
            color: #ced6de;
         }

   .page-header.navbar .menu-toggler {
      background-image: url(../../img/sidebar-toggle-light.png);
   }

   .page-header.navbar .page-actions .btn-group .btn-sm.btn-transparent {
      background: none;
      border: 1px solid white;
      color: white;
   }

      .page-header.navbar .page-actions .btn-group .btn-sm.btn-transparent > i {
         color: white;
      }

      .page-header.navbar .page-actions .btn-group .btn-sm.btn-transparent:hover, .page-header.navbar .page-actions .btn-group .btn-sm.btn-transparent:focus, .page-header.navbar .page-actions .btn-group .btn-sm.btn-transparent.active {
         background: none;
         border: 1px solid white;
         color: white;
      }

         .page-header.navbar .page-actions .btn-group .btn-sm.btn-transparent:hover > i, .page-header.navbar .page-actions .btn-group .btn-sm.btn-transparent:focus > i, .page-header.navbar .page-actions .btn-group .btn-sm.btn-transparent.active > i {
            color: white;
         }

/* Page sidebar */
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover,
.page-sidebar {
   background-color: #4e5c6f;
   /* Default sidebar */
}

   page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu,
   .page-sidebar .page-sidebar-menu {
      /* 1st level links */
      /* All links */
   }

      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a,
      .page-sidebar .page-sidebar-menu > li > a {
         border-top: 1px solid #4e5c6f;
         color: #b4bcc8;
      }

         .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i,
         .page-sidebar .page-sidebar-menu > li > a > i {
            color: #ccc;
         }

            .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i[class^="icon-"],
            .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i[class*="icon-"],
            .page-sidebar .page-sidebar-menu > li > a > i[class^="icon-"],
            .page-sidebar .page-sidebar-menu > li > a > i[class*="icon-"] {
               color: #6b788b;
            }

         .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > .arrow.open:before,
         .page-sidebar .page-sidebar-menu > li > a > .arrow:before,
         .page-sidebar .page-sidebar-menu > li > a > .arrow.open:before {
            color: #ccc;
         }

      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.heading > h3,
      .page-sidebar .page-sidebar-menu > li.heading > h3 {
         color: #708096;
      }

      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a,
      .page-sidebar .page-sidebar-menu > li:hover > a,
      .page-sidebar .page-sidebar-menu > li.open > a {
         background: #1f2020;
         color: #eee;
      }

         .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > i,
         .page-sidebar .page-sidebar-menu > li:hover > a > i,
         .page-sidebar .page-sidebar-menu > li.open > a > i {
            color: #eee;
         }

         .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > .arrow.open:before,
         .page-sidebar .page-sidebar-menu > li:hover > a > .arrow:before,
         .page-sidebar .page-sidebar-menu > li:hover > a > .arrow.open:before,
         .page-sidebar .page-sidebar-menu > li.open > a > .arrow:before,
         .page-sidebar .page-sidebar-menu > li.open > a > .arrow.open:before {
            color: #eee;
         }

      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a,
      .page-sidebar .page-sidebar-menu > li.active > a,
      .page-sidebar .page-sidebar-menu > li.active.open > a {
         background: #1caf9a;
         border-top-color: transparent;
         color: #ffffff;
      }

         .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a:hover, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a:hover,
         .page-sidebar .page-sidebar-menu > li.active > a:hover,
         .page-sidebar .page-sidebar-menu > li.active.open > a:hover {
            background: #1caf9a;
         }

         .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > i,
         .page-sidebar .page-sidebar-menu > li.active > a > i,
         .page-sidebar .page-sidebar-menu > li.active.open > a > i {
            color: #ffffff;
         }

         .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > .arrow.open:before,
         .page-sidebar .page-sidebar-menu > li.active > a > .arrow:before,
         .page-sidebar .page-sidebar-menu > li.active > a > .arrow.open:before,
         .page-sidebar .page-sidebar-menu > li.active.open > a > .arrow:before,
         .page-sidebar .page-sidebar-menu > li.active.open > a > .arrow.open:before {
            color: #ffffff;
         }

      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active + li > a,
      .page-sidebar .page-sidebar-menu > li.active + li > a {
         border-top-color: transparent;
      }

      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open + li > a,
      .page-sidebar .page-sidebar-menu > li.active.open + li > a {
         border-top-color: #4e5c6f;
      }

      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:last-child > a,
      .page-sidebar .page-sidebar-menu > li:last-child > a {
         border-bottom: 1px solid transparent !important;
      }

      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a > .arrow.open:before,
      .page-sidebar .page-sidebar-menu li > a > .arrow:before,
      .page-sidebar .page-sidebar-menu li > a > .arrow.open:before {
         color: #ccc;
      }

      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover > a > .arrow.open:before,
      .page-sidebar .page-sidebar-menu li:hover > a > .arrow:before,
      .page-sidebar .page-sidebar-menu li:hover > a > .arrow.open:before {
         color: #ccc;
      }

      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li.active > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li.active > a > .arrow.open:before,
      .page-sidebar .page-sidebar-menu li.active > a > .arrow:before,
      .page-sidebar .page-sidebar-menu li.active > a > .arrow.open:before {
         color: #ffffff;
      }

.page-sidebar-closed .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu:hover .sub-menu, .page-sidebar-closed .page-sidebar .page-sidebar-menu:hover .sub-menu {
   background-color: #4e5c6f;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a,
.page-sidebar .page-sidebar-menu .sub-menu > li > a {
   color: #ddd;
}

   .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > i,
   .page-sidebar .page-sidebar-menu .sub-menu > li > a > i {
      color: #ccc;
   }

      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > i[class^="icon-"],
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > i[class*="icon-"],
      .page-sidebar .page-sidebar-menu .sub-menu > li > a > i[class^="icon-"],
      .page-sidebar .page-sidebar-menu .sub-menu > li > a > i[class*="icon-"] {
         color: #ccc;
      }

   .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > .arrow.open:before,
   .page-sidebar .page-sidebar-menu .sub-menu > li > a > .arrow:before,
   .page-sidebar .page-sidebar-menu .sub-menu > li > a > .arrow.open:before {
      color: #ccc;
   }

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a,
.page-sidebar .page-sidebar-menu .sub-menu > li:hover > a,
.page-sidebar .page-sidebar-menu .sub-menu > li.open > a,
.page-sidebar .page-sidebar-menu .sub-menu > li.active > a {
   background: #1f2020 !important;
}

   .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > i,
   .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > i,
   .page-sidebar .page-sidebar-menu .sub-menu > li.open > a > i,
   .page-sidebar .page-sidebar-menu .sub-menu > li.active > a > i {
      color: #ccc;
      color: #eee;
   }

   .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > .arrow.open:before,
   .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > .arrow:before,
   .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > .arrow.open:before,
   .page-sidebar .page-sidebar-menu .sub-menu > li.open > a > .arrow:before,
   .page-sidebar .page-sidebar-menu .sub-menu > li.open > a > .arrow.open:before,
   .page-sidebar .page-sidebar-menu .sub-menu > li.active > a > .arrow:before,
   .page-sidebar .page-sidebar-menu .sub-menu > li.active > a > .arrow.open:before {
      color: #ccc;
   }

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light,
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light {
   /* 1st level links */
}

   .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.open > a,
   .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li:hover > a,
   .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.open > a {
      background: #3a4656;
   }

   .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a,
   .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active > a,
   .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a {
      background: #1f2020;
      border-left: 4px solid #1caf9a;
      color: #f1f1f1;
   }

      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active > a:hover, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a:hover,
      .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active > a:hover,
      .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a:hover {
         border-left: 4px solid #1caf9a;
         background: #3a4656;
      }

      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a > i,
      .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active > a > i,
      .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a > i {
         color: #eeeeee;
      }

      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a > .arrow.open:before,
      .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active > a > .arrow:before,
      .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active > a > .arrow.open:before,
      .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a > .arrow:before,
      .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a > .arrow.open:before {
         color: #eeeeee;
      }

   .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu,
   .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu {
      background: #3a4656;
   }

      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li.active > a,
      .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li:hover > a,
      .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li.open > a,
      .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li.active > a {
         background: #1f2020 !important; /*mcr*/
      }

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-toggler,
.page-sidebar .sidebar-toggler {
   background: url(../../img/sidebar_inline_toggler_icon_darkblue.jpg);
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group,
.page-sidebar .sidebar-search .input-group {
   border-bottom: 1px solid #435060;
}

   .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .form-control,
   .page-sidebar .sidebar-search .input-group .form-control {
      background-color: #4e5c6f;
      color: #4e5c6f;
   }

      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .form-control::-moz-placeholder,
      .page-sidebar .sidebar-search .input-group .form-control::-moz-placeholder {
         color: #4e5c6f;
         opacity: 1;
      }

      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .form-control:-ms-input-placeholder,
      .page-sidebar .sidebar-search .input-group .form-control:-ms-input-placeholder {
         color: #4e5c6f;
      }

      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .form-control::-webkit-input-placeholder,
      .page-sidebar .sidebar-search .input-group .form-control::-webkit-input-placeholder {
         color: #4e5c6f;
      }

   .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .input-group-btn .btn > i,
   .page-sidebar .sidebar-search .input-group .input-group-btn .btn > i {
      color: #4e5c6f;
   }

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.sidebar-search-bordered .input-group,
.page-sidebar .sidebar-search.sidebar-search-bordered .input-group {
   border: 1px solid #435060;
}

.page-sidebar-closed .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.open .input-group, .page-sidebar-closed .page-sidebar .sidebar-search.open .input-group {
   background-color: #4e5c6f;
}

.page-sidebar-closed .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.open .remove > i, .page-sidebar-closed .page-sidebar .sidebar-search.open .remove > i {
   color: #4e5c6f;
}

.page-sidebar-closed .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.sidebar-search-solid .input-group, .page-sidebar-closed .page-sidebar .sidebar-search.sidebar-search-solid .input-group {
   background: none;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.sidebar-search-solid .input-group,
.page-sidebar .sidebar-search.sidebar-search-solid .input-group {
   border: 1px solid #2c3541;
   background: #2c3541;
}

   .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.sidebar-search-solid .input-group .form-control,
   .page-sidebar .sidebar-search.sidebar-search-solid .input-group .form-control {
      background: #2c3541;
   }

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.sidebar-search-solid.open .input-group,
.page-sidebar .sidebar-search.sidebar-search-solid.open .input-group {
   border: 1px solid #4e5c6f;
   background: #4e5c6f;
}

   .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.sidebar-search-solid.open .input-group .form-control,
   .page-sidebar .sidebar-search.sidebar-search-solid.open .input-group .form-control {
      background: #4e5c6f;
   }

.page-sidebar-reversed .page-sidebar-menu.page-sidebar-menu-light {
   /* 1st level links */
}

   .page-sidebar-reversed .page-sidebar-menu.page-sidebar-menu-light > li.active > a, .page-sidebar-reversed .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a {
      border-left: 0;
      border-right: 4px solid #1caf9a;
   }

      .page-sidebar-reversed .page-sidebar-menu.page-sidebar-menu-light > li.active > a:hover, .page-sidebar-reversed .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a:hover {
         border-left: 0;
         border-right: 4px solid #1caf9a;
      }

/******
Page Footer 
******/
.page-footer .page-footer-inner {
   color: #33404c;
}

.page-footer-fixed .page-footer {
   background-color: #e9ecf3;
}

   .page-footer-fixed .page-footer .page-footer-inner {
      color: black;
   }

.page-boxed .page-footer .page-footer-inner {
   color: black;
}

.page-footer-fixed .page-boxed .page-footer {
   background-color: #e9ecf3;
}

@media (min-width: 992px) {
   /* 992px */
   /* Sidebar menu closed */
   .page-sidebar-menu.page-sidebar-menu-hover-submenu li:hover > .sub-menu {
      box-shadow: 5px 5px rgba(140, 178, 198, 0.2);
   }

   .page-sidebar-menu.page-sidebar-menu-closed > li:hover {
      box-shadow: 5px 5px rgba(140, 178, 198, 0.2);
   }

      .page-sidebar-menu.page-sidebar-menu-closed > li:hover > .sub-menu {
         box-shadow: 5px 5px rgba(140, 178, 198, 0.2);
      }

   /* Fixed Sidebar */
   .page-sidebar-fixed:not(.page-footer-fixed) .page-content {
      border-bottom: 0;
   }

   .page-sidebar-fixed:not(.page-footer-fixed) .page-footer .page-footer-inner {
      color: #333;
   }

   /* Boxed Layout */
   .page-boxed {
      /* Page container */
   }

      .page-boxed .page-container {
         background-color: #e9ecf3;
      }

      .page-boxed.page-sidebar-reversed .page-container {
         border-left: 0;
      }

      .page-boxed.page-sidebar-fixed .page-container {
         border-left: 0;
         border-bottom: 0;
      }

      .page-boxed.page-sidebar-reversed.page-sidebar-fixed .page-container {
         border-left: 0;
         border-right: 0;
         border-bottom: 0;
      }

   /* Sidebar Menu Wirh Hoverable Submenu */
   .page-sidebar-menu-hover-submenu li:hover a > .arrow {
      border-right: 8px solid #FFFFFF;
   }

   .page-sidebar-reversed .page-sidebar-menu-hover-submenu li:hover a > .arrow {
      border-left: 8px solid #FFFFFF;
   }

   .page-sidebar-menu-hover-submenu li:hover > .sub-menu {
      background: #FFFFFF !important;
   }
}

@media (max-width: 991px) {
   /* 991px */
   .page-header.navbar {
      padding: 0;
      /* Top menu */
   }

      .page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle:hover {
         background-color: #4e5c6f;
      }
}

@media (max-width: 767px) {
   /* 767px */
   .page-header.navbar {
      background: #4e5c6f;
      border-bottom: 1px solid #4e5c6f;
      /* Top menu */
   }

      .page-header.navbar .page-top {
         background: #eee;
      }

      .page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle:hover {
         background-color: #eff1f6;
      }

      .page-header.navbar .top-menu .navbar-nav > li.quick-sidebar-toggler > i {
         color: #333;
         font-size: 16px;
      }
}
/****
 CSS3 Spinner Bar  
****/
.page-spinner-bar > div,
.block-spinner-bar > div {
   background: #6fa7d7;
}

.logo-default
{
   padding: 0 !important;
   margin: 8px 0 0 0 !important;
}