body {
    font-family: "Muli", sans-serif;
    margin: 0;
    background: #192831;
}

    body.bgCadastro {
        font-family: "Muli", sans-serif;
        margin: 0;
        background: #999;
    }

h1, h2, h3, h4, h5, h6 {
    font-family: "Muli",sans-serif;
    font-weight: 300;
}

.login {
    background: none !important;
}

    .login .content .form-actions .btn {
        margin-top: 1px;
    }

    .login .content {
        border-radius: 7px !important;
    }

.btn:not(.btn-sm):not(.btn-lg) {
    line-height: 1.44;
}

.btn {
    outline: none !important;
    box-shadow: none !important;
}

.pull-right {
    float: right !important;
}

.btn-login {
    min-width: 300px;
    border-radius: 20px !important;
    color: #FFF;
    background-color: #f96332 !important;
    border-color: #f96332 !important;
}

    .btn-login.focus, .btn-login:focus, .btn-login:hover {
        color: #fcf7f7aa;
        text-decoration: none;
    }

.btn-intern {
    border-radius: 20px !important;
    color: #FFF;
    background-color: #f96332 !important;
    border-color: #f96332 !important;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

.btn-info {
    border-radius: 20px !important;
    color: #fff;
    background-color: #659be0;
    border-color: #659be0 !important;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

.btn-success {
    border-radius: 20px !important;
    color: #fff;
    background-color: #36c6d3;
    border-color: #36c6d3;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

.btn {
    border-radius: 20px !important;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

.btn-intern.focus, .btn-intern:focus, .btn-intern:hover {
    color: #fcf7f7aa;
    text-decoration: none;
}

canvas {
    display: block;
    vertical-align: bottom;
}
/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg,#d6d6d6 0,#62cbfc 100%) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
/* ---- stats.js ---- */

.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats, .count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}

.page-header.navbar {
    background: #FFF;
    border-bottom: 1px solid #e9ecf3;
}

    .page-header.navbar .page-logo .logo-default {
        margin: 10px 10px 10px 60px;
        width: 80px
    }

.page-sidebar, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover {
    background-color: #232e3d;
}

    .page-sidebar .page-sidebar-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a {
        color: rgb(160, 180, 200);
        ;
    }

    .page-sidebar .page-sidebar-menu > li.open > a, .page-sidebar .page-sidebar-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a {
        background: #232e3d;
        ;
    }

    .page-sidebar .page-sidebar-menu > li > a:hover, .page-sidebar:hover .page-sidebar-menu > li > a:hover {
        color: #FFF;
    }

.form-group.form-md-line-input .form-control.edited:not([readonly]) ~ label:after, .form-group.form-md-line-input .form-control.edited:not([readonly]) ~ .form-control-focus:after, .form-group.form-md-line-input .form-control:focus:not([readonly]) ~ label:after, .form-group.form-md-line-input .form-control:focus:not([readonly]) ~ .form-control-focus:after {
    visibility: visible;
    left: 0;
    width: 100%;
    background: #f36a5a;
}

.md-radio label > .check {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background: #f36a5a;
    opacity: 0;
    z-index: 6;
    border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
}

.tab-lista-dados {
    color: #f3c200 !important;
}

.nav-tabs > li > a.tab-lista-dados:hover {
    border-color: transparent transparent #ddd;
}

.nav > li > a.tab-lista-dados:focus, .nav > li > a.tab-lista-dados:hover {
    text-decoration: none;
    background-color: #2b3c53;
}

.form-group.form-md-line-input.has-info .form-control {
    border-bottom: 1px solid #f96332 !important;
}

.form-group.form-md-line-input.has-info:focus .form-control:focus {
    border-bottom: 1px solid #f96332 !important;
}

.form-group.form-md-line-input .form-control {
    background: none;
    border: 0;
    border-bottom: 1px solid #f96332;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    color: #555;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
}

.form-group.form-md-line-input.has-info label {
    color: #555;
}

.page-sidebar .page-sidebar-menu .sub-menu > li.active > a, .page-sidebar .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a {
    color: #fff;
    background: none !important;
}

.logo-cadastro {
    width: 150px;
}

#TokenText, #TokenDesabilitarText {
    width: 100%;
}

.font-green {
    color: #E87E04 !important;
}

thead > tr > th:first-child {
    font-family: "Muli", sans-serif;
}
